django==5.2.1
# You can later remove the database you are not using
# I wanted to keep the flow simple and not add unnecessary logic
django_mysql==4.17.0
mysqlclient==2.2.7
django-postgresql==0.0.3
psycopg2
django_nose==1.4.7
arrow==1.3.0
pip-review
pytest==8.3.5
pytest-cov==6.1.1
coverage2clover==4.0.0
pylint==3.3.7
pyvalid==1.0.4
pytest-benchmark==5.1.0
requests==2.32.3
django-simple-history==3.8.0
django-mako-plus==5.11.2
six==1.17.0
gunicorn==23.0.0
